In [90]:
import numpy as np
import pandas as pd

df_prices=pd.read_csv("../dataset/BTC-Hourly.csv")

df_prices.head()

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD
0,1646092800,2022-03-01 00:00:00,BTC/USD,43221.71,43626.49,43185.48,43312.27,52.056320,2.254677e+06
1,1646089200,2022-02-28 23:00:00,BTC/USD,43085.30,43364.81,42892.37,43178.98,106.816103,4.612210e+06
2,1646085600,2022-02-28 22:00:00,BTC/USD,41657.23,44256.08,41650.29,42907.32,527.540571,2.263535e+07
3,1646082000,2022-02-28 21:00:00,BTC/USD,41917.09,41917.09,41542.60,41659.53,69.751680,2.905822e+06
4,1646078400,2022-02-28 20:00:00,BTC/USD,41361.99,41971.00,41284.11,41914.97,247.151654,1.035935e+07

In [91]:
drop_colums=['unix','symbol']
df_prices.drop(columns=drop_colums, inplace=True)

df_prices.head()

,date,open,high,low,close,Volume BTC,Volume USD
0,2022-03-01 00:00:00,43221.71,43626.49,43185.48,43312.27,52.056320,2.254677e+06
1,2022-02-28 23:00:00,43085.30,43364.81,42892.37,43178.98,106.816103,4.612210e+06
2,2022-02-28 22:00:00,41657.23,44256.08,41650.29,42907.32,527.540571,2.263535e+07
3,2022-02-28 21:00:00,41917.09,41917.09,41542.60,41659.53,69.751680,2.905822e+06
4,2022-02-28 20:00:00,41361.99,41971.00,41284.11,41914.97,247.151654,1.035935e+07

In [92]:
df_prices['date']=pd.to_datetime(df_prices['date'])

start_time=pd.to_datetime('2021-02-05 10:00:00')
end_time=pd.to_datetime('2021-07-30 23:00:00')

df_prices=df_prices[(df_prices['date'] >= start_time) & (df_prices['date'] <= end_time)]

df_prices = df_prices.reset_index(drop=True)

In [93]:
df_prices = df_prices.sort_values(by='date').reset_index(drop=True)
df_prices

,date,open,high,low,close,Volume BTC,Volume USD
0,2021-02-05 10:00:00,37297.06,37698.74,37208.60,37449.95,153.306192,5.741309e+06
1,2021-02-05 11:00:00,37427.27,37775.89,37427.27,37745.68,101.295697,3.823475e+06
2,2021-02-05 12:00:00,37749.62,38168.36,37595.21,37907.00,444.407083,1.684614e+07
3,2021-02-05 13:00:00,37885.00,38351.04,37828.22,38333.77,307.770178,1.179799e+07
4,2021-02-05 14:00:00,38335.74,38350.26,38020.14,38153.19,439.239904,1.675840e+07
...,...,...,...,...,...,...,...
4209,2021-07-30 19:00:00,39136.53,39901.00,39094.76,39901.00,153.993616,6.144499e+06
4210,2021-07-30 20:00:00,39909.99,41663.99,39739.00,40691.14,516.378551,2.101203e+07
4211,2021-07-30 21:00:00,40721.76,41547.07,40663.47,41246.70,361.135721,1.489566e+07
4212,2021-07-30 22:00:00,41213.84,41514.22,41011.42,41384.94,138.238985,5.721012e+06
4213,2021-07-30 23:00:00,41456.79,42335.50,41338.82,42234.89,333.115697,1.406910e+07

In [94]:
df_sentiment=pd.read_csv('../dataset/hourly_avg_sentiment.csv')
df_sentiment

,hour,avg_sentiment,sentiment_volatility,tweet_volume,count_neg,count_neu,count_pos
0,2021-02-05 10:00:00,0.232025,0.287001,11,0.000000,0.727273,0.272727
1,2021-02-05 11:00:00,0.119410,0.543480,88,0.147727,0.556818,0.295455
2,2021-02-05 12:00:00,0.280681,0.535522,139,0.122302,0.460432,0.417266
3,2021-02-05 13:00:00,0.200531,0.488745,131,0.137405,0.534351,0.328244
4,2021-02-05 14:00:00,0.235959,0.504811,160,0.093750,0.537500,0.368750
...,...,...,...,...,...,...,...
1249,2021-07-30 19:00:00,0.362750,0.544540,1580,0.118354,0.381013,0.500633
1250,2021-07-30 20:00:00,0.314065,0.545580,2246,0.121549,0.437667,0.440784
1251,2021-07-30 21:00:00,0.292241,0.544589,2360,0.130508,0.438559,0.430932
1252,2021-07-30 22:00:00,0.360520,0.568008,1688,0.121445,0.377370,0.501185
1253,2021-07-30 23:00:00,0.321412,0.551344,1730,0.138728,0.402890,0.458382

## Filling the missing timestamps in the df_sentiment and merging both dataframes

In [95]:
import pandas as pd

# Assuming you already did:
df_prices['date'] = pd.to_datetime(df_prices['date'])
df_sentiment['hour'] = pd.to_datetime(df_sentiment['hour'])

df_prices = df_prices.set_index('date')
df_sentiment = df_sentiment.set_index('hour')

# Create the missingness flag BEFORE filling NaNs
missing_flag = df_sentiment.isna().any(axis=1).astype(int)
# This flag is 1 if any column in that row is NaN, else 0

# Reindex sentiment to match price timestamps
df_sentiment = df_sentiment.reindex(df_prices.index)

# Reindex flag as well, align with sentiment index
missing_flag = missing_flag.reindex(df_prices.index).fillna(1).astype(int)  # missing rows get flag=1

# Fill missing sentiment values with 0
df_sentiment = df_sentiment.fillna({
    'avg_sentiment': 0.0,
    'sentiment_volatility': 0.0,
    'tweet_volume': 0,
    'count_neg': 0,
    'count_neu': 0,
    'count_pos': 0
})

# Add missingness flag column to sentiment dataframe
df_sentiment['sentiment_missing_flag'] = missing_flag

# Merge price and sentiment dataframes
df_merged = pd.concat([df_prices, df_sentiment], axis=1).reset_index()

print(df_merged[['date', 'sentiment_missing_flag']].head(1000))

                   date  sentiment_missing_flag
0   2021-02-05 10:00:00                       0
1   2021-02-05 11:00:00                       0
2   2021-02-05 12:00:00                       0
3   2021-02-05 13:00:00                       0
4   2021-02-05 14:00:00                       0
..                  ...                     ...
995 2021-03-18 21:00:00                       1
996 2021-03-18 22:00:00                       1
997 2021-03-18 23:00:00                       1
998 2021-03-19 00:00:00                       1
999 2021-03-19 01:00:00                       1

[1000 rows x 2 columns]

In [96]:
df_merged.head()

,date,open,high,low,close,Volume BTC,Volume USD,avg_sentiment,sentiment_volatility,tweet_volume,count_neg,count_neu,count_pos,sentiment_missing_flag
0,2021-02-05 10:00:00,37297.06,37698.74,37208.60,37449.95,153.306192,5.741309e+06,0.232025,0.287001,11.0,0.000000,0.727273,0.272727,0
1,2021-02-05 11:00:00,37427.27,37775.89,37427.27,37745.68,101.295697,3.823475e+06,0.119410,0.543480,88.0,0.147727,0.556818,0.295455,0
2,2021-02-05 12:00:00,37749.62,38168.36,37595.21,37907.00,444.407083,1.684614e+07,0.280681,0.535522,139.0,0.122302,0.460432,0.417266,0
3,2021-02-05 13:00:00,37885.00,38351.04,37828.22,38333.77,307.770178,1.179799e+07,0.200531,0.488745,131.0,0.137405,0.534351,0.328244,0
4,2021-02-05 14:00:00,38335.74,38350.26,38020.14,38153.19,439.239904,1.675840e+07,0.235959,0.504811,160.0,0.093750,0.537500,0.368750,0

In [97]:
(df_merged['avg_sentiment']==0).sum()

2960